ul.tabs {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.tabs > li {
  float: left;
  position: relative;
  top: 1px;
  z-index: 1;
  margin-right: -3px;
  padding: 0.5em 1em;
  background-color: #f7f7f7;
  border: solid 1px #a7d7f9;
  border-radius: 3px 3px 0 0;
}

.tabs > li:first-child {
  border-top-left-radius: 3px;
}

.tabs > li:last-child {
  border-top-right-radius: 3px;
}

ul > li.activeTab {
  background-color: white;
  border-bottom-color: white;
  z-index: 2;
}

.activeTab a {
  color: inherit;
}

.tabbed {
  display: none;
  clear: both;
}

.activeTabbed {
  display: block;
}

ul > li.searchTab {
  position: relative;
  float: right;
  margin-top: -4px;
  margin-right: 0;
  padding: 0.5em 0.75em;
}
