.button, .buttons input[type=submit], .buttons input[type=reset] {
  height: 2.4em;
  margin: 0;
  font-size: 1em;
  white-space: nowrap;
  background-color: #f7f7f7;
  border-radius: 5px;
  cursor: pointer;
}

/* Adding spriting common attrs. */
.button > div {
  display: inline-block;
  width: 13px;
  height: 13px;
  background: transparent url(/img/sprites_2.png);
  vertical-align: top;
}

/* TODO(pmy): hack to handle textNode-less buttons dropping down. */
button[class='button edit'], button[class='button plus'], button[class='button delete'] {
  padding-left: 0.75em;
  width: 2.75em;
}

.search > div {
  background-position: -87px -25px;
}

.edit > div {
  background-position: -55px -61px;
}

.plus > div {
  background-position: -117px -41px;
}

.delete > div {
  background-position: -87px -60px;
}

button.text.delete {
  width: 6em;
}

button.text > div {
  margin-right: 0.5em;
}
