.chart {
  border-top: solid 1px #c7d7ff;
  border-bottom: solid 1px #c7d7ff;
  border-top-right-radius: 0;
}

.chart table {
  width: 100%;
}

/* Overlap with container above. */
#chartTabs {
  margin-top: -1px;
}

#chartTabs .activeTab {
  border-top: solid 1px white;
  border-radius: 0;
  left: 0px;
  z-index: 0;
}

#listChart {
  padding: 0;
}

.statsLeft {
  font-size: 0.9em;
}