/* The find/create form in dataset.html and single-doc view form. */

.form {
  width: 100%;
  margin: 0;
  border: solid 1px #ccc;
  border-spacing: 0;
  background-color: #ffffe8;
}

.form > table {
  width: 95%;
  margin: 1em auto;
}

.form td {
  height: 2em;
}

.form input[name] {
  display: inline;
  width: 100%;
}

[class~=hover-reveal] {
  background-color: inherit;
  display: none;
}

.form td + td {
  width: 60%;
  padding-right: 2em;
}

.formButtons {
  float: right;
  padding-right: 1em;
  white-space: nowrap;
}

.formButtons, .button-add-field {
  margin: 1em 1em 1em 0;
}

.form .edit-buttons * {
  float: right;
}

.form .editing .formButtons {
  opacity: 0.2;
}

.form .editing tbody tr:hover {
  background-color: #fff4c2;
}

.form .editing input[name] {
  width: 70%;
}

.form .editing tr:hover [class~=hover-reveal] {
  display: inline;
}
