<div class="mainPanel" ng-controller="DocumentCtrl">
  <ul class="tabs">
    <li id="mainTab"><a ng-href="/#" tabindex="0">DataWiki</a></li>
    <li><a href="#/wiki/{{datasetName}}">{{datasetName}}</a></li>
    <li class="activeTab">{{docId}}</li>
  </ul>
  <div id="formatBox" class="box tabbed activeTabbed">
    <h2>Fields</h2>
    <div style="width: 50%">
      <form id="docForm" ng-submit="update()">
        <table class="form" id="docForm-formEdit-table">
          <tr ng-repeat="(key,val) in noMetaFilter(document)">
            <td><label for="{{key}}">{{key}}</label>:</td>
            <td>
              <input name="{{key}}"
                     ng-model="mods[key]"
                     ng-init="mods[key] = document[key]" value="{{val}}"/>
              <div class="edit-buttons hover-reveal">
                <button class="button delete"><div></div>&nbsp;</button>
                <button class="button edit"><div></div>&nbsp;</button>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <div class="buttons formButtons">
                <input type="submit" value="Save"/>
                <input type="reset" value="Reset"/>
              </div>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>
