<form name="{{formId}}" id="{{formId}}" ng-submit="{{formAction}}">
  <table class="form">
    <tr ng-repeat="(key,val) in noMetaFilter(format)">
      <td><label for="{{ key }}">{{ key }}</label>:</td>
      <td>
        <input name="{{ key }}" ng-model="queryForm[key]">
        <div class="edit-buttons hover-reveal">
          <button class="button delete"><div></div>&nbsp;</button>
          <button class="button edit"><div></div>&nbsp;</button>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="buttons formButtons">
          <input type="submit" value="Submit"/>
          <input type="reset" value="Clear"/>
        </div>
      </td>
    </tr>
  </table>
</form>
