input[type='submit'], input[type='clear'], input[type='reset'], button {
  font-size: 1em;
  white-space: nowrap;
  cursor: pointer;
  border: solid 1px grey;
  background-color: #f7f7f7;
}

/* Adding spriting common attrs. */
.button > div {
  display: inline-block;
  width: 15px;
  height: 13px;
  background: transparent url(/img/sprites_2.png);
  vertical-align: top;
  margin: 2px 5px 0 0;
}

/* TODO(pmy): better name. */
button.formedit {
  float: right;
  position: relative;
  right: -3px;
  top: -0.2em;
  border-top: inherit;
  border-radius: 0;
  border-right: inherit;
}

/* TODO(pmy): hack to handle textNode-less buttons dropping down. */
button[class='button edit'], button[class='button plus'], button[class='button delete'] {
  padding-left: 0.75em;
  width: 2.75em;
}

.search > div {
  background-position: -87px -25px;
}

.edit > div {
  background-position: -55px -61px;
}

.plus > div {
  background-position: -117px -41px;
}

.delete > div {
  background-position: -87px -60px;
}
