button {
  font-size: 1em;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 5px;
  background-color: #f7f7f7;
}

/* TODO(pmy): hack to handle textNode-less buttons dropping down. */
button[class='button edit'], button[class='button plus'], button[class='button delete'] {
  padding-left: 0.75em;
  width: 2.75em;
}

/* Adding spriting common attrs. */
.sprite {
  background: transparent url(/img/sprites_2.png) no-repeat;
  padding: 9px;
  width: 20px;
  height: 20px;
}

.search {
  background-position: -83px -22px;
}

.edit {
  background-position: -55px -61px;
}

.plus {
  background-position: -117px -41px;
}

.delete {
  background-position: -87px -60px;
}
