@import 'buttons.css';
@import 'tabs.css';

/* General */

body {
  font-family: Arial,sans-serif;
/*  background: no-repeat url(/ears.png); */
/*  background-position: 300px -10px; */
  margin: 3em;
}

a {
  color: #0000CC;
  text-decoration: none;
  cursor: pointer;
}

img {
  border-width: 0;
}

h1 {
  font-size: 1.2em;
  margin: 0.5em 0px;
}

h2 {
  font-size: 1.1em;
  margin: 0.3em 0px;
}

h3 {
  font-size: 1em;
  margin: 0.25em 0px;
}

table, label, input {
  font-size: 1em;
}

input[readonly] {
  background-color: inherit;
  border: none;
}

/* Used for highlighted code areas. */
pre {
  font-size: 0.8em;
  padding: 1em;
  background-color: #f7f7f7;
  border: solid 1px #ccc;
}

/* Styles */

.removed {
  display: none;
}

.invisible {
  visibility: hidden;
}

/* Elements */

.mainPanel > h2 {
  margin-top: 0;
}

.box {
  padding: 1em;
  border: solid 1px #a7d7f9;
  background-color: white;
}

/* Onebar */

#onebar {
  position: absolute;
  top: 0;
  right: 2em;
  padding: 35px 0 0 0;
  white-space: nowrap;
}

#onebar * {
  white-space: nowrap;
}

#langControl {
  margin-right: 0;
}

#langSelect {
  margin-left: 5px;
}

#findCreate > * {
  position: relative;
  top: -8px;
}

#findCreate input {
  height: 2em;
  border: solid 1px #ccc;
  border-radius: 3px;
  padding: 0 0.5em;
}

#findCreate button {
  color: blue;
}

.inputInactive {
  color: lightgrey;
}

.inputActive {
  color: black;
}