<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <error-page>
    <error-code>500</error-code>
    <location>/error.jsp</location>
  </error-page>

<!--  <servlet>
    <servlet-name>wiki</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>wiki.FormApp</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>wiki</servlet-name>
    <url-pattern>/formats/*</url-pattern>
  </servlet-mapping> -->

  <servlet>
    <servlet-name>matches</servlet-name>
    <servlet-class>com.google.code.datahub.MatchResponseServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>matches</servlet-name>
    <url-pattern>/_ah/prospective_search</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>tasks</servlet-name>
    <servlet-class>com.google.code.datahub.Tasks</servlet-class>
    <load-on-startup>2</load-on-startup>
<!--    <init-param>
      <param-name>queue</param-name>
      <param-value>non-default task queue name</param-value>
    </init-param
-->
    <init-param>
      <param-name>path</param-name>
      <param-value>/_ah/taskshelper</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>rsrc</servlet-name>
    <servlet-class>com.google.code.datahub.Resource</servlet-class>
    <load-on-startup>3</load-on-startup>
    <!-- TODO(pmy): Old servlet API has no mechanism to find the
    servlet-mapping, so set this path param to the same value as the
    url-pattern mapping below. -->
    <init-param>
      <param-name>path</param-name>
      <param-value>/</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>rsrc</servlet-name>
    <url-pattern>/wiki/*</url-pattern>
  </servlet-mapping>
  

  <servlet>
    <servlet-name>chart</servlet-name>
    <servlet-class>wiki.TableViz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chart</servlet-name>
    <url-pattern>/chart</url-pattern>
  </servlet-mapping>
</web-app>
