<form name="{{formId}}" id="{{formId}}" class="form">
  <button id="{{formId}}-edit-button"
          class="button edit text formedit"
          ng-class="editClass"
          ng-click="editForm(formId)"><div></div>Modify</button>
  <table id="{{formId}}-table">
    <tbody id="{{formId}}-table-body">
      <tr ng-repeat="(key,val) in noMetaFilter(format)">
        <td><label for="{{key}}">{{key}}</label>:</td>
        <td>
          <input name="{{key}}" ng-model="queryForm[key]">
          <div class="edit-buttons hover-reveal">
            <button class="button delete"><div></div>&nbsp;</button>
            <button class="button edit"><div></div>&nbsp;</button>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2">
          <div class="buttons formButtons" id="{{formId}}-submit-buttons">
            <input ng-click="handleFormSubmit(formAction)" type="submit" value="Submit"/>
            <input type="reset" value="Clear"/>
          </div>
        </td>
      </tr>
    </tfoot>
  </table>
</form>
