@import '/buttons.css';
@import '/tabs.css';

/* General */

body {
  font-family: Arial,sans-serif;
/*  background: no-repeat url(/ears.png); */
/*  background-position: 300px -10px; */
}

a {
  color: #0000CC;
  text-decoration: none;
  cursor: pointer;
}

img {
  border-width: 0;
}

h1 {
  font-size: 1.2em;
  margin: 0.5em 0px;
}

h2 {
  font-size: 1.1em;
  margin: 0.3em 0px;
}

h3 {
  font-size: 1em;
  margin: 0.25em 0px;
}

input[readonly] {
  background-color: inherit;
  border: none;
}

/* Styles */

.removed {
  display: none;
}

.invisible {
  visibility: hidden;
}

/* Elements */

.logoBody {
  /* visibility: hidden; */
  padding: 1em;
}

/* Onebar */

#onebar {
  position: absolute;
  top: 0;
  right: 2em;
  padding: 35px 0 0 0;
  white-space: nowrap;
}

#onebar * {
  white-space: nowrap;
}

#langControl {
  margin-right: 0;
}

#langSelect {
  margin-left: 5px;
}

#searchForm {
  padding: 0;
  margin: 0;
}

#searchForm input {
  height: 2em;
  border: solid 1px #ccc;
  padding: 0 3px;
  margin: 0 5px 0 0;
}

#searchForm button {
  height: 2em;
  border: none;
}

/* The next two together put the nav text and the main tab level, and
   then margin-top for .mainPanel moves it up to align the text. */
.sidePanel, .mainPanel {
  position: absolute; top: 100px;
}

.mainPanel {
  margin-top: -10px;
}

.mainPanel > h2 {
  margin-top: 0;
}

.mainPanel {
  min-width: 400px;
  right: 1em;
  left: 113px;
  padding: 1em;
}

.sidePanel {
  width: 5%; /* make larger than .mainPanel.left */
  min-width: 100px;
  padding: 1em 0.5em 1em 1em;
  margin: 0;
}

.sidePanel li {
  list-style-type: none;
  margin-bottom: 5px;
}

.box {
  padding: 1em;
  border: solid 1px #a7d7f9;
  background-color: white;
}
